.container {
  display: flex;
  justify-content: space-between;
  border: 1px solid;
  padding: 8px;
  gap: 8px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.record {
  display: flex;
  gap: 8px;
  align-items: center;
}
.button {
  align-self: center
}