body {
  font-family: sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

:root {
  --border: 3px solid;
}
.font1 {
  font-size: 20px;
}

.font2 {
  font-size: 24px;
}

.font3 {
  font-size: 36px;
}

.bold {
    font-weight: bold;
}

.semi-bold {
  font-weight: 600;
}

.capital {
  text-transform: capitalize;
}

label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

label input {
    width: 100%;
}
